#app {
  min-width: 512px;

  #area-upload {
    #area-drop {
      //min-height: 80px;
      //max-width: 500px;
      //
      //text-align: center;
      //font-size: 40px;
      //width: 80%;
      //background-color: rgba(192, 192, 192, 0.5);
      //border: 2px solid rgba(192, 192, 192, 0.5);
      //margin: 0 auto 20px auto;
    }
  }

  #area-main {
    #area-time {
      #time-meter {
        #group-time-display {
          cursor: pointer;
          user-select: none;
        }
      }
      #time-slider {
        input {
          min-width: 200px;
          width: 70%;
        }
      }
    }

    #area-btn {
      button {
        font-size: 20px;
        width: 75px;
        margin: 0 5px;
      }
    }

    #area-subtitle-display {
      #title {

      }
      #subtitle {

      }
    }
  }
}
