$night-color-background: black;
$night-color-text: #BDC7C1;
$night-color-highlight: #D48872;
$night-color-grey: #7E8889;
$night-color-button: #5A666B;

$primary-color-dark: #616161;
$primary-color: #9E9E9E;
$primary-color-light: #F5F5F5;
$primary-color-text: #212121;
$accent-color: #03A9F4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

